<footer class="site-footer">
  <div id="media-viewer">
    <div id="media-viewer-image-container">
      <img id="media-viewer-image" src="">
    </div>
    <nav class="media-viewer-nav">
      <figcaption class="media-viewer-title">
        <a id="media-viewer-title-link" href="" title="Download Original"></a>
      </figcaption>
      <button id="media-viewer-close"></button>
    </nav>
  </div>
</footer>
