<header class="site-header site-container-item">
  <nav class="site-nav">
    <h1 class="site-nav-title">
      /<a href="{{ '/' | relative_url }}">1cm</a>
      <span class="author">ryan alexander</span>
    </h1>

    <input id="nav-toggle-input" type="checkbox">
    <label class="nav-toggle" for="nav-toggle-input">
      <span class="open-triangle">&blacktriangledown;</span>
    </label>
    <section class="dropdown">
      <h1>.works</h1>
      {% include projects.html projects=site.categories.works %}

      <h1>.projects</h1>
      {% include projects.html projects=site.categories.projects %}

      <h1>.photography</h1>
      {% include projects.html projects=site.categories.photography %}

      <h1>.social</h1>
      {% include social.html %}
      
      <h1>.about</h1>
      <ul>
        <li><a href="{{ "/cv.html" | relative_url }}">cv</a></li>
      </ul>

      <h1>.archive</h1>
      <ul>
        <li><a href="/v3">v3</a></li>
        <li><a href="/archive/v2">v2</a></li>
        <li><a href="/archive/v1">v1</a></li>
      </ul>
    </section>
  </nav>
</header>
