<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>
    {% if page.title %}
    {% if page.use_generic_page_title %}
    {{ site.title }}
    {% else %}
    {{ page.title }} &hearts; {{ site.title }}
    {% endif %}
    {% else %}
    {{ site.title }}
    {% endif %}
  </title>
  {% seo title=false %}
  <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
  <script src="{{ '/assets/js/main.js' | relative_url }}"></script>
  <script src="{{ '/assets/js/media.js' | relative_url }}"></script>
  <script src="{{ '/assets/js/taggr.js' | relative_url }}"></script>
  <script src="{{ '/assets/js/lib/hammer.min.js' | relative_url }}"></script>
  <script src="{{ '/assets/js/lib/gl-matrix-min.js' | relative_url }}"></script>
  {% if jekyll.environment == 'production' and site.google_analytics %}
  {% include google-analytics.html %}
  {% endif %}
</head>
