{% for project in site.categories.featured %}
{% assign link_url = project.url | relative_url %}
{% include media_image.html path=project.thumbnail link=link_url title=project.title %}
{% endfor %}

<script src="{{ '/assets/js/home.js' | relative_url }}"></script>
<canvas id="home-canvas"></canvas>
