<figure class="media-image">
  {% if include.title %}
    {% assign title = include.title %}
  {% else %}
    {% assign title = include.path | basename %}
  {% endif %}
  {% if include.link %}
  <a href="{{ include.link }}">
    <img src="{{ include.path | media_path: 720 | relative_url }}" alt="{{ title }}">
  </a>
  {% else %}
  <img src="{{ include.path | media_path: 720 | relative_url }}" alt="{{ title }}" data-original="{{ include.path | media_path | relative_url }}">
  {% endif %}
</figure>
