<ul class="projects">
{% assign projects_sorted = include.projects | sort: 'date' | reverse %}
{% for project in projects_sorted %}
{% if project.title %}
<li class="project">
    {% if page.title != project.title %}
    <a href="{{ project.url | relative_url }}">{{ project.title | escape }}</a>
    {% else %}
    <a href="{{ project.url | relative_url }}" class="disabled">{{ project.title | escape }}</a>
    {% endif %}
</li>
{% endif %}
{% endfor %}
</ul>
