---
---

@charset "utf-8";

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Sans Pro Regular'), local('SourceSansPro-Regular'),
       url('{{ "/assets/font/source-sans-pro-v11-latin_latin-ext-regular.woff2" | relative_url }}') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('{{ "/assets/font/source-sans-pro-v11-latin_latin-ext-regular.woff" | relative_url }}') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 400;
  src: local('Source Sans Pro Italic'), local('SourceSansPro-Italic'),
       url('{{ "/assets/font/source-sans-pro-v11-latin_latin-ext-italic.woff2" | relative_url }}') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('{{ "/assets/font/source-sans-pro-v11-latin_latin-ext-italic.woff" | relative_url }}') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 600;
  src: local('Source Sans Pro SemiBold'), local('SourceSansPro-SemiBold'),
       url('{{ "/assets/font/source-sans-pro-v11-latin_latin-ext-600.woff2" | relative_url }}') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('{{ "/assets/font/source-sans-pro-v11-latin_latin-ext-600.woff" | relative_url }}') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face {
  font-family: 'Hack';
  src: url('{{ "/assets/font/hack-regular-subset.woff2?sha=3114f1256" | relative_url }}') format('woff2'),
       url('{{ "/assets/font/hack-regular-subset.woff?sha=3114f1256" | relative_url }}') format('woff');
  font-weight: 400;
  font-style: normal;
}

$base-font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
$mono-font-family: "Hack", monospace;
$base-font-size:   15px;
$base-font-weight: 400;
$bold-font-weight: 600;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$text-color:          #111;
$bg-color:            #fff;
$content-bg-color:    rgba(255, 255, 255, 0.7);
$link-color:          #1cecf3;
$link-color-hover:    #1cecf3;
$link-color-active:   darken($link-color, 20%);
$link-color-disabled: desaturate($link-color, 50%);
$subtle-color-white:    rgb(230, 230, 230);
$subtle-bg-color-white: lighten($subtle-color-white, 6%);

$header-width:        220px;
$header-margin-right: 60px;
$content-padding:     10px;
$content-width:       {{ site.content_width }}px;
$media-image-width:   $content-width;

body, h1, h2, h3, h4, h5, h6, p, blockquote, pre, hr, dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}

body, html {
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: $bold-font-weight;
  &:not(:first-child) {
    margin-top: 1em;
  }
  &:not(:last-child) {
    margin-bottom: 0.5em;
  }
}

h1 {
  font-size: 160%;
}

strong {
  font-weight: 600;
}

body {
  font: $base-font-weight #{$base-font-size} / #{$base-line-height} $base-font-family;
  color: $text-color;
  background-color: $bg-color;
  background-position: center top;
}

a {
  color: $link-color;
  text-decoration: none;
  font-weight: $bold-font-weight;
  &:hover {
    color: $link-color-hover;
  }
  &:active {
    color: $link-color-active;
  }
  &.disabled {
    color: $link-color-disabled;
    pointer-events: none;
    cursor: default;
  }
}

code {
  font-family: $mono-font-family;
  font-size: 90%;
  background-color: $subtle-bg-color-white;
  padding: 3px 4px;
  border-radius: 4px;
}

p:not(:first-child) {
  margin-top: 0.5em;
}
p:not(:last-child) {
  margin-bottom: 1.2em;
}

ul > li {
  list-style-type: none;
  text-indent: -3em;
  padding-left: 3em;
}

.site-header {
  background-color: $content-bg-color;
  width: $header-width;
  min-width: $header-width;
  padding: $content-padding + 11 $content-padding $content-padding $content-padding;
  margin-right: $header-margin-right;
}

.site-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  margin: 50px 0 50px 0;
}

.site-nav {
  .author {
    color: $subtle-color-white;
  }
  .nav-toggle {
    display: none;
    color: $link-color;
    text-align: center;
    font-size: 150%;
    line-height: 1em;
    background-color: $subtle-bg-color-white;
    border-radius: 999px;
    padding-bottom: 0.15em;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
  }
  h1 {
    font-size: 110%;
    margin: 1em 0 0.5em 0;
    &.site-nav-title {
      margin-top: 0;
    }    
  }
  label {
    display: block;
    cursor: pointer;
  }
  input {
    display: none;
    -webkit-appearance: none;
  }
}

.page-content {
  background-color: $content-bg-color;
  max-width: $content-width;
  width: $content-width;
  padding: $content-padding;
  h1, h2, h3, h4, h5, h6 {
    letter-spacing: -0.02em;
    transform: translate(-0.06em, 0);
  }
}

@media (max-width: 1050px) {
  .site-header {
    margin: 0;
  }
}

@media (max-width: 810px) {
  .site-container {
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    margin: 0;
  }
  .site-container-item {
    width: auto;
    max-width: 100%;
  }
  .site-header {
    padding: $content-padding;
  }
  .site-nav {
    .nav-toggle {
      display: block;
    }
    .dropdown {
      max-height: 0;
      transition: max-height 0.25s ease-out;
      overflow: hidden;
    }
    input:checked ~ .dropdown {
      max-height: 1000px;
      transition: max-height 0.25s ease-in;
    }
    input:checked ~ .nav-toggle {
      transform: scale(1, -1);
    }
  }
}

.project-header, .post-header {
  margin-bottom: 1em;
}

.project-title, .post-title {
  font-size: 200%;
  line-height: 1.2em;
}

.project-content, .post-content {
  h1 {
    margin-top: 1.5em;
  }
}

.project-go {
  margin-left: 0.2em;
  color: $subtle-color-white;
  font-size: 90%;
}

.media-image {
  position: relative;
  width: 100%;
  &:not(:first-child) {
    margin-top: 1em;
  }
  &:not(:last-child) {
    margin-bottom: 1em;
  }
  img {
    display: block;
    width: 100%;
    cursor: pointer;
    // border-radius: 4px;
  }
}
.media-group {
  .media-image {
    float: left;
    clear: both;
    margin: 0;
  }
  .media-image:not(:first-of-type) {
    width: 49%;
    margin-top: 2%;
    &:nth-of-type(odd) {
      float: left;
      clear: none;
      margin-left: 2%;
    }
  }
  &::after {
    content: "";
    display: block;
    clear: both;
  }
  &:not(:first-child) {
    margin-top: 1.2em;
  }
  &:not(:last-child) {
    margin-bottom: 1.2em;
  }
}
.media-download {
  position: absolute;
  display: block;
  left: 0px;
  bottom: 0px;
  background: #fff;
  visibility: hidden;
  // border-top-right-radius: 4px;
  padding: 4px 10px 4px 8px;
}
.media-video {
  position: relative;
  width: 100%;
  height: 0;
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

$media-viewer-nav-height: 48px;

#media-viewer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  visibility: hidden;
  // opacity: 0.0;
  &.open {
    // opacity: 1.0;
    visibility: visible;
  }
}
.media-viewer-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: $media-viewer-nav-height;
  margin: 10px 10px 0 10px;
}
.media-viewer-title {
  display: block;
  height: $media-viewer-nav-height;
  line-height: $media-viewer-nav-height;
  overflow: hidden;
  a {
    text-overflow: ellipsis;
    padding: 0 15px 0 15px;
  }
}
#media-viewer-image-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.9);
}
#media-viewer-image {
  max-width: 100%;
  max-height: 100%;
  background-size: 100%;
  background-repeat: no-repeat;
  cursor: move;
}
#media-viewer-close {
  width: $media-viewer-nav-height;
  height: $media-viewer-nav-height;
  border: 0;
  cursor: pointer;
  background-image: url({{ '/assets/img/media_viewer_close.svg' | relative_url }});
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
#media-viewer-close, .media-viewer-title {
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 110;
}

#home-canvas {
  width: 100%;
}

.svg-icon {
  width: 16px;
  height: 16px;
  display: inline-block;
  fill: rgba(0, 0, 0, 0.15);
  padding-right: 5px;
  vertical-align: text-top;
}

.social-media-list, .site-nav ul {
  list-style: none;
  margin-left: 0;
}
