<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  {% include head.html %}
  <body class="site-container">
    {% include header.html %}
    <main class="site-container-item page-content" aria-label="Content">
      {{ content }}
    </main>
    {% include footer.html %}
  </body>
</html>
