---
layout: default
---
<article class="project">
  <header class="project-header">
    <h1 class="project-title">
      {{ page.title | escape }}
      {% if page.link_url %}
        <span class="project-go"><a href="{{ page.link_url }}">★</a></span>
      {% endif %}
    </h1>
  </header>
  <div class="project-content">
    {{ content }}
  </div>
</article>
